# Yarn stuff.
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Logs.
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Deps.
node_modules/

# Dotenv stuff.
.env
.env.development.local
.env.test

# OSX stuff.
.DS_Store
